html,
body {
  height: 100%;
  background-color: #fefbbc;
}
li.first-tab {
  margin-top: 19px;
}
.fright {
  float: right;
}
#edit_post_content {
  height: 250px;
}
.navbar .nav > li > a.mane_funcs {
  margin: 0px auto;
  margin-right: 2px;
  padding: 0px;
}
a.tail_funcs {
  height: 14px;
  width: 14px;
  margin: 0px !important;
  padding: 0px !important;
  float: right;
}
div.tail_funcs {
  max-width: 14px;
  margin-right: 2px;
}
.no_bottom {
  margin-bottom: 5px !important;
}
span.action_span {
  text-transform: capitalize;
  display: inline;
}
.navbar_scooter {
  height: 40px;
}
.inl {
  display: inline;
}
.fawn {
  font-weight: normal;
}
.scoot_left {
  margin-right: 10px;
}
.scoot_right {
  margin-left: 10px;
}
.container {
  height: 100%;
  padding-top: 20px;
}
.flutter_post {
  width: 100%;
  background-color: #ff86c1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.flutter_post div {
  overflow: auto;
  padding: 10px;
}
.flutter_post div.starship_top {
  height: 0;
  background-color: transparent;
  border-bottom: 30px solid #ff86c1;
  border-right: 30px solid transparent;
}
.flutter_post div.starship_bottom {
  height: 0;
  background-color: transparent;
  border-top: 30px solid #ff86c1;
  border-left: 30px solid transparent;
}
